{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Steam Portfolio</title>
        <link rel="stylesheet" href="{% static 'portfolio/css/site.css' %}">
        <script src="{% static 'portfolio/js/app.js' %}" defer></script>
        <link rel="icon" href="{$ static 'portfolio/img/favicon.ico' %}">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>